
body{
    padding: 0px;
    margin: 0px; 
    color: aliceblue;
    background-color:black;
    background-image: url(../files/1.jpg);
    
}
.body-company{
    height: 2000px;
}

/* 导航栏图标品牌样式 */
.navbar-brand{
     font-size: 2.2em;
 }
/* 导航栏样式 */
.navbar{
    min-height: 0px;
    padding: 15px;
    background: #0C0C0C;
}

/* 导航栏中间添加竖线 */
.navbar-right li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #a4a4a4;
    top:18px;
    right: 0;
}
/* 面包屑 位置样式 */
/* .breadcrumb{
    background-color:#0C0C0C;
} */

/* 底部样式 */
.navbar-bottom{
    
    margin: 20px;
    background:#777;
    color: #0C0C0C;
}