body{
    
    padding: 130px 5%;
    margin: 0px;
    
}
 
.navbar{
    min-height: 0px;
    height: 80px;
    padding: 15px;
}

/* 导航栏中间添加竖线 */
.navbar-right li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #a4a4a4;
    top:18px;
    right: 0;
}